.footer__wrapper {
  display: flex;
  width: 100%;
}

.footer__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.footer__jumpbutton_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}